<div class="container-fluid containerportfolio">
	<div class="top">
		<div class="navy"><%= link_to ("Home"), root_path %></div>
		<div class="navy"><%= link_to ("About"), about_path %></div>
		<div class="navy"><%= link_to ("Portfolio"), portfolio_path %></div>
		<div class="navybox"><%= link_to ("Contact"), contact_path %></div>
	</div>
	<span class="fleft">
	<h1>Portfolio</h1>
	</span>	
</div>