
<div class="container-fluid containerabout">
<div class="top">
		<div class="navy"><%= link_to ("Home"), root_path %></div>
		<div class="navy"><%= link_to ("About"), about_path %></div>
		<div class="navy"><%= link_to ("Portfolio"), portfolio_path %></div>
		<div class="navybox"><%= link_to ("Contact"), contact_path %></div>
	</div>
<span class="fleft">
<h1>About</h1>
</span>
<span class="fleft">
<p>Nice to meet you! My name is Reed O'Neal, I am a certified Rails Developer that would love to work on your next project. I attended Tech Talent South and obtained my certificate in web developement through their 6 and a half week Code Immersion program. In addition coding, I am in <em>LOVE</em> with music. I have written and produced two full length albums and an addition 20+ tracks that can be found on all major retailers. If you are interested in employeeing me for a project please make sure you are ready to be extremely satisfied with the outcome! Aside from learning HTML, CSS, Javascript, Ruby on Rails, and Swift for mobile developement, I believe the skill that I'm most proud of is my ability to communicate. Thank you for visiting my site, I hope we chat soon! </p>
</span>

</div>